.estadistics-container {
    position: relative;
    padding: 20px;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;

    &:hover {
        color: #000; // Cambia a tu color deseado en hover
    }
}
