@import "../color";

.action-button {
    background-color: $main;
    color: white;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    &:hover {
        background-color: $black;
    }
}

div#juanda {
    max-width: calc(100vw);
    overflow: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;

    th, td {
        min-width: fit-content;
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        white-space: nowrap;  // Evita que el texto se superponga
    }

    th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0;
    }

    tbody {
        display: block;
        max-height: 250px;
        overflow-y: auto;
    }

    tr {
        display: table;
        width: 100%;
        table-layout: fixed;  // Asegura que las columnas mantengan un tamaño fijo
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #ddd;
    }
}
