@import "../color";

.action-button {
    background-color: $main;
    color: white;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    &:hover {
        background-color: $black;
    }
}

.action-buttonon {
    background-color: $main;
    color: white;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    &:hover {
        background-color: $black;
    }
}

div#juanda {
    //max-width: calc(100vw);
    overflow-x: auto;
}

.table {
    width: auto;
    min-width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    table-layout: fixed; // Asegura que las columnas mantengan un tamaño fijo

    th, td {
        border: 1px solid #ddd;
        padding: 12px; // Aumenta el padding para mayor legibilidad
        text-align: left;
        overflow: hidden; // Oculta el texto que se desborda
        text-overflow: ellipsis; // Agrega puntos suspensivos (...) al texto desbordado
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold; // Agrega negrita a los encabezados
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #ddd;
    }
}
