@import "../color";

div#login {
    width: calc(100vw - 40px);
    max-width: 360px;
    height: calc(100vh - 40px);
    margin: 10px;
    padding: 10px;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
        width: calc(50vw);
        max-width: 200px;
        height: calc(50vw);
        max-height: 200px;
        margin: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        label {
            padding: 10px;
            input[type="text"] {
                padding: 10px;
                border-top: none;
                border-right: 5px solid $white;
                border-bottom: 2px solid $grey;
                border-left: 5px solid $white;
                border-radius: 10px;
                text-align: center;
                background-color: $white;
                font-size: 15px;
                transition: 0.5s all ease;
                &:focus {
                    outline: none;
                    border-right-color: $main;
                    border-left-color: $main;
                }
            }
            input[type="password"] {
                padding: 10px;
                border-top: none;
                border-right: 5px solid $white;
                border-bottom: 2px solid $grey;
                border-left: 5px solid $white;
                border-radius: 10px;
                text-align: center;
                background-color: $white;
                font-size: 15px;
                transition: 0.5s all ease;
                &:focus {
                    outline: none;
                    border-right-color: $main;
                    border-left-color: $main;
                }
            }
        }
        a {
            text-decoration: none;
            div.button {
                margin: 10px;
                padding: 10px 20px;
                border: none;
                border-radius: 10px;
                font-size: 15px;
                cursor: pointer;
                color: $white;
                background-color: $black;
                transition: 0.5s all ease;
                &:hover {
                    color: $black;
                    background-color: $main;
                }
            }
        }
    }
}
