main.login {
    width: calc(100vw);
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    h1 {
        color: #FFF;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            margin: 5px;
            display: flex;
            align-items: center;
            label {
                padding: 5px;
                svg {
                    color: #FFF;
                }
            }
            input {
                outline: none;
            }
        }
        button {
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}