@import "./color";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  div#root {
    width: calc(100vw);
    // max-width: 400px;
    box-shadow: 0 0 5px $black;
    div#animation {
      min-height: calc(100vh);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      opacity: 1;
      animation-name: animation;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-direction: normal;
      z-index: 1;
      svg {
        width: calc(60vw);
        max-width: 250px;
        height: calc(60vw);
        max-height: 250px;
      }
    }
    main#main {
      min-height: calc(100vh);
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 1fr;
      header {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $black;
        svg {
          &:first-child {
            width: 50px;
            height: 50px;
            background-color: $white;
          }
          &:last-child {
            width: 30px;
            height: 30px;
            margin: 10px;
            fill: $main;
            cursor: pointer;
            &#plus {
              rotate: 0deg;
              transition: 0.5s all ease;
            }
          }
        }
        h2 {
          text-transform: capitalize;
          color: $white;
        }
      }
    }
  }
}

@keyframes animation {
  from {
    top: 0;
    opacity: 1;
    display: flex;
  }
  to {
    top: calc(-100vh);
    opacity: 0;
    display: none;
  }
}
