.home {
  padding: 0px;
}
.body {
  padding: 30px;
}
.folders-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.folder {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  margin: 10px;
}

.folder-form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.folder-form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.folder-form button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.folder-form button:hover {
  background-color: #0056b3;
}
